/* .fc-daygrid-day-events, .fc-daygrid-day-top{
   
} */
.form-control{
    width: 100%;
}
.fc-event{
    color: white;
     font-size: 18px;
}
.fc-daygrid-day-top{
    font-size: 22px;
    color: blueviolet;
}
/* .fc-daygrid-day-frame{
    background-color: azure;
} */
.fc-event{
    background-color: #3788d8;
    border: 1px solid #3788d8;
}
.fc-event:hover{
    border: 1px solid #3788d8;
    background-color: #3788d8;
}
.fc-daygrid-event-harness-abs:hover{
    background-color:transparent;
}
/* .fc-daygrid-day-frame, .fc-scrollgrid-sync-inner{
    background-color: blueviolet;
    color: white;   fc-daygrid-event-harness 
} */
.fc-daygrid-day-number{
    font-size: 18px;
    color: white;
}