
.form-control{
    width: 100%;
}
.fc-event{
   gap: 5px;
    color: white;
     font-size: 18px;
}
.fc-daygrid-day-top{
    font-size: 22px;
    color: blueviolet;
}

.fc-event{
    background-color: #3788d8;
    border: 1px solid #3788d8;
}
.fc-event:hover{
    border: 1px solid #3788d8;
    background-color: #3788d8;
}
.fc-daygrid-event-harness-abs:hover{
    background-color:transparent;
}

.fc-daygrid-day-number{
    font-size: 18px;
    color: white;
}
.form-control{
    background-color: black;
    color: white;
}
/* .rdtPicker {
  background-color: black;
  color: white;
  } */